form {
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 350px;
    background-color: #dee8ee;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 25px;
}

.form-title {
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: #313135;
    margin-bottom: 26px;
}

input {
    background-color: transparent;
    color: #27272c;
    font-size: 18px;
    text-align: left;
    width: 80%;

    border: 0px solid transparent;
    border-bottom: 2px solid #3b5d8a;

    transition-duration: .5s;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #5985be;
}

button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #e2e6ec;
    width: 120px;
    height: 32px;
    border-radius: 20px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-container {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cancel-btn {
    align-self: flex-end;
    background-color: #c73f3f;
    box-shadow: 0px 5px 25px #c73f3f;

    width: 32px;
    height: 32px;
    
    transition-duration: .5s;

    margin-top: 40px;
}
.cancel-btn:hover{
    background-color: #eb5d5d;
}

.create-btn {
    margin-left: 15px;
    background-color: #264d80;
    transition-duration: .5s;
    box-shadow: 0px 5px 25px #264d80;
}
.create-btn:hover{
    color: #27272c;
    background-color: #427ece;
}

@media only screen and (max-width: 850px) {
    
}