.title-container{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.title {
  font-size: 32px;
  text-align: left;
  margin: 10px 0;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #212124;
}
.counter-text{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: #55575c;
}
.complement{
  font-weight: bold;
  color: #1e1e1f;
}
.search-container{
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.TodoSearch {
  height: 60px;
  padding: 20px;
  width: 80%;

  border: transparent solid 0;
  border-radius: 25px;
  background-color: #efeff5;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: #404047;

  box-shadow: 0 5px 50px rgba(32, 35, 41, .25)
}

.TodoSearch::placeholder {
  color: #6e7680;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 18px;

  margin: 0;
}

.TodoSearch:focus {
  outline: none;
}

.list-container{
  display: flex;
  flex-direction: column;

  align-items: center;

  margin: 30px 0;

  width: 100%;
  height: 100%;
}
ul {
  list-style: none;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  margin: 0 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

.message-list{
  width: 100%;
  text-align: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #494952;
  text-transform: uppercase;
}

li {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: left;

  border-radius: 25px;

  margin: 10px 0;

  background-color: #ededf5;

  width: 80%;
  height: 60px;
}

.TodoItem-p {
  text-align: left;
  margin: 0 24px;
  font-size: 18px;
}

.TodoItem-p--complete {
  text-decoration: line-through;
  color: #264d80;
}

.Icon {
  cursor: pointer;
  align-self: center;
  font-size: 24px;
  font-weight: 700;

  transition-duration: .5s;
}

.Icon-check {
  font-size: 24px;
  margin-left: 20px;
  margin-top: 3px;
  color: #69696e;

  width: 20px;
}

.Icon-check--active {
  font-size: 12px;
  color: #4d76b4;
}

.Icon-delete {
  margin-top: 3px;
  position: absolute;
  right: 110px;
}

.Icon-delete:hover {
  color: red
}

.CreateTodoButton {
  background-color: #264d80;
  box-shadow: 0 5px 25px rgba(97, 218, 250, .5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: 700;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  transform: rotate(0);
  transition: .3s ease;

  z-index: 1;
}

.CreateTodoButton:hover {
  background-color: #3b70b6;
  transform: rotate(224deg)
}

.about{  
  padding: 10px;
  color: #1c4375;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  color: #1c4375;
}